@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, light --prefersdark, cupcake;
}

:root {
  --primary: #72442b; /* lebih deep & elegan (main text / headline) */
  --secondary: #5a3a28; /* hangat, masih satu keluarga dengan primary */
  --muted: #a78973; /* muted yang beneran “background-friendly” */
  --accent: #8f5b3a; /* accent lebih hidup tapi gak terlalu orange */
}

@font-face {
  font-family: "SaloonGirls";
  src: url("/Saloon Girl Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins.ttf");
}

@font-face {
  font-family: "Tangerine";
  src: url("/Tangerine.ttf");
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  background-color: var(--bg-main);
  color: black;
}
