@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@font-face {
  font-family: "SaloonGirls";
  src: url("/Saloon Girl Regular.ttf");
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
