@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #72442b;
  --secondary: #5a3a28;
  --muted: #a78973;
  --accent: #8f5b3a;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "SaloonGirls";
  src: url("/Saloon Girl Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins.ttf");
}

@font-face {
  font-family: "Tangerine";
  src: url("/Tangerine.ttf");
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  background-color: rgb(250, 250, 250);
  color: black;
}
