@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, light --preferdark;
}

@font-face {
  font-family: "SaloonGirls";
  src: url("/Saloon Girl Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins.ttf");
}

@font-face {
  font-family: "Tangerine";
  src: url("/Tangerine.ttf");
}

:root {
  --primary: #72442b;
  --secondary: #5a3a28;
  --muted: #a78973;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  background: var(--base-100);
  color: theme("colors.neutral.800");
}
