@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, light --prefersdark, cupcake;
}

:root {
  --primary: #6f4e37; /* lebih deep & elegan (main text / headline) */
  --secondary: #a67b5b; /* hangat, masih satu keluarga dengan primary */
  --muted: #ecb176; /* muted yang beneran “background-friendly” */
  --accent: #fed8b1; /* accent lebih hidup tapi gak terlalu orange */
}

@font-face {
  font-family: "SaloonGirls";
  src: url("/Saloon Girl Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins.ttf");
}

@font-face {
  font-family: "Tangerine";
  src: url("/Tangerine.ttf");
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  background-color: var(--bg-main);
  color: black;
}
