@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  --primary: #72442b;
  --secondary: #5a3a28;
  --muted: #a78973;
  --accent: #8f5b3a;
}

@font-face {
  font-family: "SaloonGirls";
  src: url("/Saloon Girl Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins.ttf");
}

@font-face {
  font-family: "Tangerine";
  src: url("/Tangerine.ttf");
}

body {
  font-family: Poppins;
  background: white;
  color: black;
}
